<div class="container">
    <h1 class="text-center">Vos Matchs</h1>
    <br>
    <div class="row" ng>
        <div *ngIf="matchsAppart[0] && matchsMaison[0]">
            <div class="col-6">
                <h4 class="text-center ">Pour vos appartements</h4>
                <div class="card p-2 center" *ngFor="let m of matchsAppart">
                    <div class="card" style=" width: auto;">
                        <img src="../../assets/images/draco.jpeg" class="card-img-top" alt="photo cabane">
                        <div class="card-header text-center center">
                            <h3 class="card-title"><b>Profil locataire</b></h3>
                            <h5 class="card-title">{{m.locataire.prenom}} {{m.locataire.nom}}</h5>
                            <h5 class="card-title">{{m.locataire.mail}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="matchsAppart[0] && !matchsMaison[0]">
            <div class="col">
                <div class="card p-2 center" *ngFor="let m of matchsAppart">
                    <div class="card" style=" width: auto;">
                        <img src="../../assets/images/draco.jpeg" class="card-img-top" alt="photo cabane">
                        <div class="card-header text-center center">
                            <h3 class="card-title"><b>Profil locataire</b></h3>
                            <h5 class="card-title">{{m.locataire.prenom}} {{m.locataire.nom}}</h5>
                            <h5 class="card-title">{{m.locataire.mail}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="matchsMaison[0] && matchsAppart[0]">
            <div class="col-6">
                <h4 class="text-center">Pour vos maisons</h4>
                <div class="card p-2" *ngFor="let m of matchsMaison">
                    <div class="card" style=" width: auto;">
                        <img src="../../assets/images/ron.webp" class="card-img-top" alt="photo cabane">
                        <div class="card-header center">
                            <h3 class="card-title text-center"><b>Profil locataire</b></h3>
                            <h5 class="card-title">{{m.locataire.prenom}} {{m.locataire.nom}}</h5>
                            <h5 class="card-title">{{m.locataire.mail}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="matchsMaison[0] && !matchsAppart[0]">
            <div class="col">
                <div class="card p-2" *ngFor="let m of matchsMaison">
                    <div class="card" style=" width: auto;">
                        <img src="../../assets/images/ron.webp" class="card-img-top" alt="photo cabane">
                        <div class="card-header center">
                            <h3 class="card-title text-center"><b>Profil locataire</b></h3>
                            <h5 class="card-title">{{m.locataire.prenom}} {{m.locataire.nom}}</h5>
                            <h5 class="card-title">{{m.locataire.mail}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>