<div *ngFor="let l of locataire">
    <div class="card" style="width: 30rem;" *ngIf="l!=null">
        <div class="card-body center">
            <h5 class="card-title">Dossier de {{l.prenom}} {{l.nom}}</h5>
            <p class="card-text">Adresse mail : {{l.mail}}</p>
           <button (click)="detail(l)">Détail du dossier</button>
           <div *ngIf="dossier != null">
            <p class="card-text">{{dossier.presentation}}</p>
        </div>
        </div>
        <div class="card-body">
            <a (click)="haterLocataire()" class="card-link">Passer</a>
            <a (click)="likerLocataire()" class="card-link">Liker</a>
        </div>
    </div>
</div>
