.LoginBody {
    height: 100vh;
    background-image: url('../images/fondAccueil.jpg');
    background-repeat: no-repeat !important;
    background-attachment: local !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100vw;
}

.imgBody {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4.8%;
    left: 4%;
}

.ConnexionBody {
    padding-top: 30%;
}

h3 {
    font-family: Mademountain !important;
    font-size: 2.5vw !important;
    color: #00A97F !important;
}

form h3 {
    text-align: center;
}

form label,
form p,
form button,
form input {
    font-family: Mademountain !important;
}

.btnSigninDiv {
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    padding: 2%;
}

.btnSignin {
    --bg: #00A97F;
    --text-color: #000000;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #04795c 0px 7px 2px, #000 0px 8px 5px;
}

.btnSignin:hover {
    opacity: 1;
}

.btnSignin:active {
    top: 4px;
    box-shadow: #04795c 0px 3px 2px, #000 0px 3px 5px;
}

.btnSignin2 {
    --bg: #ffffff;
    --text-color: #000000;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #f1f1f1 0px 7px 2px, #000 0px 8px 5px;
}

.btnSignin2:hover {
    opacity: 1;
}

.btnSignin2:active {
    top: 4px;
    box-shadow: #f1f1f1 0px 3px 2px, #000 0px 3px 5px;
}