<div style="margin: auto; width: 30%; margin-top: 100px;">
    <div class="card p-4 z-dep-2">
        <form>
            <div class="md-form">
                <input type="text" class="form-control" placeholder="Login" name="login">
            </div>
            <div class="md-form">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div>
            <button class="btn btn-secondary btn-bloc btn-sm">Connexion</button>
        </form>
    </div>
</div>