<div style="margin: auto; width: 80%; margin-top: 5%; margin-bottom: 5%;">
    <div>
        <form #filtre="ngForm" (ngSubmit)="paramFiltre(filtre.value)">
            <div class="titleFiltre p-2">
                <h3 class="text-info">Hello {{userConnect.prenom}}, tu peux paramétrer tes filtres ici</h3>
            </div>


            <!-- <div>
                <p>Code Postal</p>
                <mat-form-field appearance="fill">
                    <mat-label>Code postal</mat-label>
                    <mat-select [formControl]="codePostaux" multiple>
                        <mat-option *ngFor="let codePostal of CPList" [value]="codePostal">{{codePostal}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <!-- <mat-form-field>
                <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                        {{toppings.value ? toppings.value[0] : ''}}
                        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
            </mat-form-field> -->
            <div class="container">
                <div class="row">
                    <div class="col-6">

                        <div>
                            <h4>Meublé</h4>
                            <div>
                                <input type="radio" id="meuble" name="meuble" value="true" [(ngModel)]="meuble">
                                <label for="meuble">Meublé</label>
                            </div>
                            <div>
                                <input type="radio" id="nonMeuble" name="meuble" value="false" [(ngModel)]="meuble">
                                <label for="nomMeuble">Non meublé</label>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div>
                            <h4>Classe NRJ</h4>
                            <div class="md-form">
                                <label for="">Classe NRJ min</label>
                                <input type="text" name="classeNRJmin" ngModel class="form-control">
                            </div>
                            <div class="md-form">
                                <label for="">Classe NRJ max</label>
                                <input type="text" name="classeNRJmax" ngModel class="form-control">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div>
                            <h4>Surface</h4>
                            <div class="md-form">
                                <label for="">Surface min</label>
                                <input type="number" name="surfaceMin" ngModel class="form-control">
                            </div>
                            <div class="md-form">
                                <label for="">Surface max</label>
                                <input type="number" name="surfaceMax" ngModel class="form-control">
                            </div>
                        </div>

                        <br>
                        <hr>
                        <br>
                        <div>
                            <h4><i class="fa-solid fa-calendar-days"></i>Disponibilité</h4>
                            <div class="md-form">
                                <label for="">Date</label>
                                <input type="date" name="dispoBien" ngModel class="form-control"
                                    [(ngModel)]="dateDispo">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <h4>Nombre de chambre</h4>
                            <div class="md-form">
                                <label for="">Nombre min</label>
                                <input type="number" name="chambreMin" ngModel class="form-control">
                            </div>
                            <div class="md-form">
                                <label for="">Nombre max</label>
                                <input type="number" name="chambreMax" ngModel class="form-control">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div>
                            <h4>Prix</h4>
                            <div class="md-form">
                                <label for="">Prix max</label>
                                <input type="number" name="prixMax" ngModel class="form-control">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div>
                            <h4>Exposition</h4>
                            <div class="md-form">
                                <label for="">Nord, Sud, etc</label>
                                <input type="text" name="exposition" ngModel class="form-control">
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>

                        <div>
                            <h4>En plus</h4>
                            <div>
                                <input type="checkbox" id="machineALaver" name="machineALaver" value="true"
                                    [(ngModel)]="machineALaver">
                                <label for="">Machine à laver</label>

                                <input type="checkbox" id="laveVaisselle" name="laveVaisselle" value="true"
                                    [(ngModel)]="laveVaisselle">
                                <label for="">Lave vaisselle</label>

                                <input type="checkbox" id="jardin" name="jardin" value="true" [(ngModel)]="jardin">
                                <label for="">Jardin</label>

                                <input type="checkbox" id="parking" name="parking" value="true" [(ngModel)]="parking">
                                <label for="">Parking</label>

                                <input type="checkbox" id="cave" name="cave" value="true" [(ngModel)]="cave">
                                <label for="">Cave</label>

                                <input type="checkbox" id="balcon" name="balcon" value="locataire" [(ngModel)]="balcon">
                                <label for="">Balcon</label>

                                <input type="checkbox" id="salleEau" name="salleEau" value="true"
                                    [(ngModel)]="salleEau">
                                <label for="">Salle d'eau</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <button (click)="onNoClick()" class="btn btn-sm btn-block btn-sm">Enregistrer</button>
        </form>
    </div>
</div>