<div style="margin: auto; width: 70%; margin-top: 100px; margin-bottom: 100px;">
    <div class="card p-5 z-dep-2">
        <form #filtre="ngForm" (ngSubmit)="paramFiltre(filtre.value)">
            <h3 class="text-info">Hello {{userConnect.prenom}}, tu peux paramétrer tes filtres ici</h3>

            <!-- <mat-form-field>
                <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                        {{toppings.value ? toppings.value[0] : ''}}
                        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                            (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
            </mat-form-field> -->

            <!-- <p>Code postal</p>
            <div>
                <div>
                    <input type="radio" id="T1" name="codePostal" value="codePostal">
                    <label for="paris1">75001</label>

                    <input type="radio" id="T2" name="codePostal" value="codePostal">
                    <label for="paris2">75002</label>

                    <input type="radio" id="T3" name="codePostal" value="codePostal">
                    <label for="paris3">75003</label>
                </div>
            </div>
            <br>
            <hr>
            <br> -->
            <p><i class="fa-solid fa-chair"></i>Meublé</p>
            <div>
                <div>
                    <input type="radio" id="meuble" name="meuble" value="true" [(ngModel)]="meuble">
                    <label for="meuble">Meublé</label>
                </div>
                <div>
                    <input type="radio" id="nonMeuble" name="meuble" value="false" [(ngModel)]="meuble">
                    <label for="nomMeuble">Non meublé</label>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <p><i class="fa-regular fa-bolt"></i>Classe NRJ</p>
                <div class="md-form">
                    <label for="">Classe NRJ min</label>
                    <input type="text" name="classeNRJmin" ngModel class="form-control">
                </div>
                <div class="md-form">
                    <label for="">Classe NRJ max</label>
                    <input type="text" name="classeNRJmax" ngModel class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <p>Surface</p>
                <div class="md-form">
                    <label for="">Surface min</label>
                    <input type="number" name="surfaceMin" ngModel class="form-control">
                </div>
                <div class="md-form">
                    <label for="">Surface max</label>
                    <input type="number" name="surfaceMax" ngModel class="form-control">
                </div>
            </div>

            <br>
            <hr>
            <br>
            <div>
                <p><i class="fa-solid fa-calendar-days"></i>Disponibilité</p>
                <div class="md-form">
                    <label for="">Date</label>
                    <input type="date" name="dispoBien" ngModel class="form-control" [(ngModel)]="dateDispo">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <p>Nombre de chambre</p>
                <div class="md-form">
                    <label for="">Nombre min</label>
                    <input type="number" name="chambreMin" ngModel class="form-control">
                </div>
                <div class="md-form">
                    <label for="">Nombre max</label>
                    <input type="number" name="chambreMax" ngModel class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <p>Prix</p>
                <div class="md-form">
                    <label for="">Prix max</label>
                    <input type="number" name="prixMax" ngModel class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <p>Exposition</p>
                <div class="md-form">
                    <label for="">Nord, Sud, etc</label>
                    <input type="text" name="exposition" ngModel class="form-control">
                </div>
            </div>
            <br>
            <hr>
            <br>

            <div>
                <p>En plus</p>
                <div>
                    <input type="checkbox" id="machineALaver" name="machineALaver" value="true"
                        [(ngModel)]="machineALaver">
                    <label for="">Machine à laver</label>

                    <input type="checkbox" id="laveVaisselle" name="laveVaisselle" value="true"
                        [(ngModel)]="laveVaisselle">
                    <label for="">Lave vaisselle</label>

                    <input type="checkbox" id="jardin" name="jardin" value="true" [(ngModel)]="jardin">
                    <label for="">Jardin</label>

                    <input type="checkbox" id="parking" name="parking" value="true" [(ngModel)]="parking">
                    <label for="">Parking</label>

                    <input type="checkbox" id="cave" name="cave" value="true" [(ngModel)]="cave">
                    <label for="">Cave</label>

                    <input type="checkbox" id="balcon" name="balcon" value="locataire" [(ngModel)]="balcon">
                    <label for="">Balcon</label>

                    <input type="checkbox" id="salleEau" name="salleEau" value="true" [(ngModel)]="salleEau">
                    <label for="">Salle d'eau</label>


                </div>
            </div>
            <button (click)="onNoClick()" class="btn btn-sm btn-block btn-sm">Enregistrer</button>
        </form>
    </div>
</div>