@font-face {
    font-family: HyperBlob;
    src: url('../font/hyperblob.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}


.AccueilBody {
    background-image: url('../images/fondAccueil.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: local !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
    font-family: HyperBlob;
}

.titleBody h1 {
    font-family: HyperBlob;
    font-size: 13vw !important;
    /*color: rgb(230, 101, 15);*/
    color: #00A97F;
    text-align: center;
    padding-top: 12% !important;
    padding-bottom: 5% !important;
}


.titleBody h3 {
    font-family: HyperBlob;
    font-size: 3.5vw !important;
    /*color: rgb(230, 101, 15);*/
    color: #00A97F;
    text-align: center;
    padding-top: 4% !important;
    padding-bottom: 4% !important;
}

.InscripConnex {
    font-size: large;
    text-align: center !important;
}

.btnBox {
    padding: 2% !important;
}

.btnInscriConnex {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: white;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 1.7vw;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.btnInscriConnex::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.btnInscriConnex::before {
    top: -1em;
    left: -1em;
}

.btnInscriConnex::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.btnInscriConnex:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.btnInscriConnex:hover {
    color: rgb(10, 25, 30);
}

.btnInscriConnex:active {
    filter: brightness(.8);
}


.parent {
    position: relative;
    width: 300px;
    height: 300px;
}

.child1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -45%;
    left: 0;
}

.child2 {
    z-index: 1;
    margin-top: 170px;
    margin-left: 0px;
    width: 100vw;
}