<div class="AccueilBody">
    <div class="titleBody">

        <div class="parent">
            <div class="child1">
                <img src="../../assets/images/logo_site.png" alt="">
            </div>
            <div class="child1 child2">
                <h1>Toit + Moi</h1>
            </div>
        </div>




        <br>
        <h3>"Foncièrement vôtre"</h3>
    </div>
    <div class="InscripConnex">
        <a class="btnBox" (click)="openModalInscription()">
            <button class="btnInscriConnex">Inscription</button>
        </a>
        <a class="btnBox" (click)="openModalConnexion()">
            <button class="btnInscriConnex">Connexion</button>
        </a>
        <br><br><br><br>
    </div>
</div>