h1 {
    font-family: Mademountain !important;
}

.profilBody {
    background-image: url('../images/home_office_06.jpg');
    background-color: rgb(255, 255, 255, 0.6) !important;
    background-repeat: no-repeat !important;
    background-attachment: local !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
}

.row {
    margin-left: 10% !important;
}

.BGBody {
    background-color: rgba(253, 227, 240, 0.5) !important;
    height: 100vh !important;
    width: 100% !important;
}


.parent {
    position: relative;
    width: 150px;
    height: 250px;
    margin: 10px;
}

.child1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
}

.child2 {
    z-index: 1;
    margin-top: 150px !important;
    margin-left: 550px !important;
}

.child3 {
    z-index: 1;
    margin: 3px;
    top: 10%;
    left: 50%;
}


.cardLoc {
    width: 190px;
    height: 254px;
    border-radius: 50px;
    background: #fceddd;
    box-shadow: 2px 2px 10px #ffe7c7,
        -2px -2px 10px #ffffff;
}

.cardLoc h6,
.cardLoc h5,
.cardLoc p,
.cardLoc a,
.linkLoc {
    font-family: Mademountain !important;
    align-items: center !important;
    text-align: center !important;
}

.cardLoc h5 {
    font-size: 1.5vw;
    color: #00A97F;
}

.cardLoc h6 {
    font-size: 1vw;
}

.linkLoc a {
    font-size: 1.1vw;
    color: #00A97F !important;
}

.titleLoc {
    text-align: end !important;
}

.titleLoc h1 {
    font-family: HyperBlob !important;
    font-size: 4vw;
    padding-top: 2%;
    color: #00A97F;
}