<div class="container">
    <h1 style="text-align: center">Vos Matchs</h1>
    <div class="row" ng>
        <div class="col-10" *ngFor="let m of matchsa">
            <div class="card p-2">
                <div class="card" style=" width: auto;">
                    <img src="../../assets/images/placard.jpg" class="card-img-top" alt="photo cabane">
                    <div class="card-header center">
                        <h3 class="card-title text-center"><b class="aurion">Adresse</b></h3>
                        <h5 class="card-title">{{m.appart.adresse.numero}} {{m.appart.adresse.voie}}</h5>
                        <h5 class="card-title">{{m.appart.adresse.codePostal}} {{m.appart.adresse.ville}}</h5>
                    </div>
                    <p class="aurion">
                        <a class="aurion " data-toggle="collapse" href="#collapseExample" role="button">...</a>
                    </p>


                    <div class="card-body center; collapse" id="collapseExample">
                        <h3 class="card-title text-center"><b class="aurion">Propriétaire de l'appartement</b></h3>
                        <h5 class="card-title">{{m.appart.proprio.prenom}}
                            {{m.appart.proprio.nom}}</h5>
                        <h5 class="card-title"> {{m.appart.proprio.mail}}</h5>

                    </div>

                    <div class="card-body center; collapse" id="collapseExample">
                        <h3 class="card-title text-center"><b class="aurion">Autres informations</b></h3>
                        <div>
                            <h5 class="card-title" *ngIf="m.appart.meuble!=true"> Meublé</h5>
                            <h5 class="card-title" *ngIf="m.appart.meuble!=false">Non Meublé</h5>
                            <h5 class="card-title">{{m.appart.prix}} € par mois</h5>
                            <h5 class="card-title">Surface: {{m.appart.surface}}</h5>
                            <h5 class="card-title" *ngIf="m.appart.classeNRJ!=null">Classe énergétique:
                                {{m.appart.classeNRJ}}</h5>
                            <h5 class="card-title">Disponible le : {{m.appart.dispo | date:'d/M/y'}}</h5>
                            <h5 class="card-title">Nombre de chambres: {{m.appart.nbchambres}}</h5>
                            <h5 class="card-title" *ngIf="m.appart.transport!=null">Transports à proximité:
                                {{m.appart.transport}}</h5>
                            <h5 class="card-title" *ngIf="m.appart.laveVaisselle!=true">Lave vaisselle présent <i
                                    src="../../assets/images/laveVaisselle.ico"></i></h5>
                            <h5 class="card-title" *ngIf="m.appart.machineALaver!=true">Machine à laver présente</h5>
                            <h5 class="card-title" *ngIf="m.appart.jardin!=true">Jardin présent</h5>
                            <h5 class="card-title" *ngIf="m.appart.cave!=true">Cave présente</h5>
                            <h5 class="card-title" *ngIf="m.appart.balcon!=true">Balcon présent</h5>
                            <h5 class="card-title" style="color:tomato" *ngIf="m.appart.salleEau!=false">! Attention !
                                Le propriétaire ne certifie pas qu'il y ait une salle d'eau... (vous devriez fuir...)
                            </h5>
                            <h5 class="card-title" *ngIf="m.appart.exposition!=null">Exposition:
                                {{m.appart.exposition}}</h5>




                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row" ng>
        <div class="col-10" *ngFor="let m of matchsm">
            <div class="card p-2">
                <div class="card" style=" width: auto;">
                    <img src="../../assets/images/harry-potter-poudlard-sorciers-angleterre.jpg" class="card-img-top"
                        alt="photo cabane">
                    <div class="card-header center">
                        <h3 class="card-title text-center"><b class="aurion">Adresse</b></h3>
                        <h5 class="card-title">{{m.maison.adresse.numero}} {{m.maison.adresse.voie}}</h5>
                        <h5 class="card-title">{{m.maison.adresse.codePostal}} {{m.maison.adresse.ville}}</h5>
                    </div>
                    <p class="aurion">
                        <a class="aurion " data-toggle="collapse" href="#collapse2" role="button">...</a>
                    </p>


                    <div class="card-body center; collapse" id="collapse2">
                        <h3 class="card-title text-center"><b class="aurion">Propriétaire de l'appartement</b></h3>
                        <h5 class="card-title">{{m.maison.proprio.prenom}}
                            {{m.maison.proprio.nom}}</h5>
                        <h5 class="card-title"> {{m.maison.proprio.mail}}</h5>

                    </div>



                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="btnSigninDiv">
        <button (click)="onNoClick()" class="btn btn-sm aurion ">Quitter</button>
    </div>
    <br>
    <hr>
    <br>
</div>