<div class="MainProBody">
    <div class="BGBody">
        <div class="titleMainPro">
            <h2 class="p-4 mt-4">Et si tu trouvais </h2>
            <h2 class=" p-3">le locataire idéal ?</h2>
        </div>



        <div class="container p-3 mt-5" style="margin-left: 34%;">
            <div class="row" style="align-items: center;">
                <div class="card cardStyle" style="width: 35%; height: 40vh;">
                    <div class="card-body">
                        <h5 class="card-title p-2">Par ici les locataires qui ont aimé votre logement</h5>
                        <p class="card-text">"On ne choisit pas forcément son gendre idéal, mais tu peux choisir ton
                            locataire"</p>
                        <a routerLink="../searchLocataire" class="card-link">Lance les matchs et allez voir un match
                            !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>