<div class="container" style="margin: auto; width: 80%; margin-top: 5%; margin-bottom: 5%;">
    <form #user="ngForm" (ngSubmit)="inscrireUser(user.value)">
        <h3 class="text-info">Rejoignez-nous et louer !</h3>
        <p>Je suis :</p>
        <div>
            <input type="radio" id="locataire" name="proprio" value="false" [(ngModel)]="status">
            <label for="locataire">Locataire</label>
        </div>
        <div>
            <input type="radio" id="proprietaire" name="proprio" value="true" [(ngModel)]="status">
            <label for="proprietaire">Propriétaire</label>
        </div>
        <div class="md-form">
            <label for="">Nom :</label>
            <input type="text" name="nom" ngModel class="form-control">
        </div>
        <div class="md-form">
            <label for="">Prénom :</label>
            <input type="text" name="prenom" ngModel class="form-control">
        </div>
        <div class="md-form">
            <label for="">Adresse mail :</label>
            <input type="text" name="mail" ngModel class="form-control">
        </div>
        <div class="md-form">
            <label for="">Pseudo :</label>
            <input type="text" name="login" ngModel class="form-control">
        </div>
        <div class="md-form">
            <label for="">Mot de passe :</label>
            <input type="password" name="mdp" ngModel class="form-control">
        </div>
        <div class="btnSigninDiv">
            <button (click)="onNoClick()" class="btn btn-sm btnSignin">S'inscrire</button>
        </div>
    </form>
</div>