<div class="MainLocBody">
    <div class="BGBody">
        <div class="titleMainLoc">
            <h2 class="p-4 mt-4">Prêt à trouver </h2>
            <h2 class=" p-2">la location de tes rêves ?</h2>
        </div>
        <div class="container p-2">
            <div class="row" style="margin-top: 8% ;">
                <div class="col-6" style="padding-left: 15%">
                    <div class="card cardStyleG" style="width: 83%">
                        <div class="card-body">
                            <h5 class="card-title">Les apparts chauds de ta région</h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">"Petit ou grand, il y a toujours de la place pour prendre l'apéro"</p>
                            <a routerLink="../searchAppart" class="card-link">C'est parti, lance toi !</a>
                        </div>
                    </div>
                </div>
                <div class="col-6" style=" padding-left: 7.2%; padding-right: 9.5%;">
                    <div class="card cardStyleD" style="width: 83%;">
                        <div class="card-body">
                            <h5 class="card-title">Les maisons chaudes de ta région</h5>
                            <p class="card-text">"Ramène la coupe à la maison"</p>
                            <a routerLink="../searchMaison" class="card-link">C'est parti, lance toi !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>