@font-face {
    font-family: HyperBlobOutline;
    src: url('../font/hyperblob-outline.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HyperBlob;
    src: url('../font/hyperblob.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: Foundland;
    src: url('../font/foundland.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mademountain;
    src: url('../font/mademountain.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

.MainLocBody {
    background-color: rgb(255, 255, 255, 0.6) !important;
    background-image: url('../images/2205_w037_n003_358b_p1_358.jpg') !important;
    background-repeat: no-repeat !important;
    background-attachment: local !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;
    /*font-family: HyperBlob !important;*/
}

.BGBody {
    background-color: rgba(253, 227, 240, 0.5) !important;
    height: 100vh;
}

.titleMainLoc {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.titleMainLoc h2 {
    font-family: HyperBlob !important;
    text-align: center !important;
    font-size: 5vw;
    color: #00A97F;
    text-shadow: 2px 2px white;
    /*color: rgb(33, 107, 91);*/
}

/*Rainbow card*/
.cardStyleG {
    --background: #f5f5f5;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --violet: #555BFF;
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--background);
    padding: 1rem;
    border: 3px solid var(--violet);
    box-shadow: -10px -10px 0 -3px var(--background), -10px -10px var(--green),
        -20px -20px 0 -3px var(--background), -20px -20px var(--yellow),
        -30px -30px 0 -3px var(--background), -30px -30px var(--orange),
        -40px -40px 0 -3px var(--background), -40px -40px var(--red);
    transition: box-shadow 1s, top 1s, left 1s;
}


/*Hover*/
.cardStyleG:hover {
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
        0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
        0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
        0 0 0 -3px var(--background), 0 0 0 0 var(--red);
}

/*Rainbow card*/
.cardStyleD {
    --background: #f5f5f5;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --violet: #555BFF;
    width: 190px;
    height: 254px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--background);
    padding: 1rem;
    border: 3px solid var(--violet);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    transition: box-shadow 1s, top 1s, left 1s;
}


/*Hover*/
.cardStyleD:hover {
    box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
        0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
        0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
        0 0 0 -3px var(--background), 0 0 0 0 var(--red);
}

.card-body {
    font-family: Mademountain;
    margin-top: 5%;
}

.card-title {
    font-family: Mademountain !important;
    font-size: 2.1vw;
}

.cardStyleG .card-body {
    text-align: right;
}